#java specific
*.class
!.idea/workspace.xml

#netbeans ignore personal stuff
nbproject/private/

#intellij
*.iws
target/
.idea/
*.iml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
placeholder


.classpath
.project
.settings/
logs/
coverage.db

dependency-reduced-pom.xml


.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
gradle/wrapper/gradle-wrapper.properties
